*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.main-parent{
    margin-left: 5px;
}

.clear{
    clear: both;
}

.left-child{
    float: left;
    width: 800px;
    padding-right: 0 ;
}

.right-child{
    float: left;
    width: 400px;
    padding-left: 0;
}