<div class="offers-parent">
    <div class="type">
        <div class="offer-title">
            <p class="heading">AC Room Only</p>
            <p class="vdetail">VIEW DETAILS</p>
        </div>
        <div class="btn" >
            <button class="change" (click)="increase(value1)">+</button>{{value1}}<button class="change" (click)="decrease(value1)">-</button>
            <p>*Applied <span class="coupon">SUMMER25</span></p>
        </div>
        <div class="price">
            <p class="strike"><del>INR 14,000</del></p>
            <p class="prc">Rs 10500/night</p>
            <p class="non-ref">Non-Refundable</p>
        </div>
    </div>
    <div class="clear"></div>
    <div class="type">
        <div class="offer-title">
            <p class="heading">Non Ac Room With Breakfast</p>
            <p class="vdetail">VIEW DETAILS</p>
        </div>
        <div class="btn" >
            <button class="change" (click)="increase2(value2)">+</button>{{value2}}<button class="change" (click)="decrease2(value2)">-</button>
            <p>*Applied <span class="coupon">SUMMER25</span></p>
        </div>
        <div class="price">
            <p class="strike"><del>INR 15,000</del></p>
            <p class="prc">Rs 11250/night</p>
            <p class="non-ref">Non-Refundable</p>
        </div>
    </div>
    <div class="clear"></div>
    <div class="type">
        <div class="offer-title">
            <p class="heading">AC Room With Breakfast</p>
            <p class="vdetail">VIEW DETAILS</p>
        </div>
        <div class="btn">
            <button class="change" (click)="increase3(value3)">+</button>{{value3}}<button class="change" (click)="decrease3(value3)">-</button>
            <p>*Applied <span class="coupon">SUMMER25</span></p>
        </div>
        <div class="price">
            <p class="strike"><del>INR 17,000</del></p>
            <p class="prc">Rs 12750/night</p>
            <p class="non-ref">Non-Refundable</p>
        </div>
    </div>
    <div class="clear"></div>
    <div>
        <p class="view-all">View All</p>
    </div>
</div>